<h1>Pace</h1>

<p class="intro">
  Details on jobs being processed by pace reactors. Updated <b><%= distance_of_time_in_words(pace_info[:last_job_at]) || "never!" %></b>.
</p>

<table class="queues">
  <tr>
    <th>Name</th>
    <th>Processed</th>
    <th>Last Job</th>
  </tr>
  <tr class="failed">
    <td><b>All</b></td>
    <td><%= number_with_delimiter(pace_info[:processed]) %></td>
    <td><%= distance_of_time_in_words(pace_info[:last_job_at]) %></td>
  </tr>
  <% if pace_info[:queues].present? %>
    <% pace_info[:queues].each do |name, info| %>
      <tr>
        <td><%= name %></td>
        <td><%= number_with_delimiter(info[:processed]) %></td>
        <td><%= info[:last_job_at] %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4" class="no-data">No information...</td>
    </tr>
  <% end %>
</table>

<hr />

<h1>0 of 0 working</h1>
<p class="info">
  Workers active in the last 10 minutes
</p>

<table class="workers">
  <tr>
    <th>Worker</th>
    <th>Queue</th>
    <th>Processed</th>
    <th>Updated</th>
  </tr>
  <tr>
    <td colspan="4" class="no-data">No information...</td>
  </tr>
</table>
