<h1>Pace</h1>

<p class="intro">
  Jobs processed by pace reactors. Updated <b><%= pace_info[:updated_at] && distance_of_time_in_words(pace_info[:updated_at], Time.now)  + " ago " || "never" %></b>.
</p>

<table class="queues">
  <tr>
    <th>Name</th>
    <th>Processed</th>
    <th>Last Job</th>
  </tr>
  <% if pace_info[:queues].present? %>
    <% pace_info[:queues].each do |name, info| %>
      <tr>
        <td><%= name %></td>
        <td><%= number_with_delimiter(info[:processed]) %></td>
        <td><%= info[:last_job_at] && distance_of_time_in_words(info[:last_job_at], Time.now) + " ago" %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>total</td>
    <td><%= pace_info[:processed] && number_with_delimiter(pace_info[:processed]) %></td>
    <td><%= pace_info[:last_job_at] && distance_of_time_in_words(pace_info[:last_job_at], Time.now) + " ago" %></td>
  </tr>
</table>

<hr />

<h1>Workers</h1>
<p class="sub">
  Active within the last 10 minutes.
</p>

<table class="workers">
  <tr>
    <th>Worker</th>
    <th>Queues</th>
    <th>Processed</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  <% if pace_info[:workers].present? %>
    <% pace_info[:workers].each do |id, info| %>
      <tr>
        <td><%= id %></td>
        <td><%= info[:queues] %></td>
        <td><%= info[:processed] && number_with_delimiter(info[:processed]) %></td>
        <td><%= distance_of_time_in_words(info[:stared_at], Time.now) %> ago</td>
        <td><%= distance_of_time_in_words(info[:updated_at], Time.now) %> ago</td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5" class="no-data">No information...</td>
    </tr>
  <% end %>
</table>

<hr />

<h1>Classes</h1>
<p class="sub">
  Distribution of classes processed.
</p>

<table class="queues">
  <tr>
    <th>Class</th>
    <th>Processed</th>
  </tr>

  <% if pace_info[:classes].present? %>
    <% pace_info[:classes].each do |name, processed| %>
      <tr>
        <td><%= name %></td>
        <td><%= number_with_delimiter(processed) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4" class="no-data">No information...</td>
    </tr>
  <% end %>
</table>
