<h1>Pace</h1>

<p class="intro">
  Details on jobs being processed by pace reactors.
</p>

<table>
  <tr>
    <th>Updated at</th>
    <td><%= pace_info[:updated_at] %>
    <th>Jobs Processed</th>
    <td><%= pace_info[:processed] %>
  </tr>
</table>

<h1>Queues</h1>
<p class="info">
  Queue statistics for pace workers
</p>

<table>
  <tr>
    <th>Queue</th>
    <th>Last Updated</th>
    <th>Last Job Run At</th>
    <th>Jobs Processed</th>
  </tr>
  <% if pace_info[:queues].present? %>
    <% pace_info[:queues].each do |name, info| %>
      <tr>
        <td><%= name %></td>
        <td><%= info[:updated_at] %></td>
        <td><%= info[:last_job_at] %></td>
        <td><%= info[:processed] %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="4"><em>No queue data available</em></td>
    </tr>
  <% end %>
</table>

<h1>0 of 0 working</h1>
<p class="info">
  Pace workers that have run a job in the last 10 minutes
</p>

<h2>Coming soon!</h2>
